# SFTP Configuration
SFTP_HOST=10.3.71.11
SFTP_PORT=22
SFTP_USER=root
SFTP_PASS=0123456789

# Project Paths
SOURCE_FILE="../out/build/dev-linux-release/ExchangeHandler"
SFTP_REMOTE_DIR="/root/akl/occamCFE-NR"
